.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label {
    font-size: 2rem;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    text-shadow: 0 0 7px whitesmoke;
    background: rgb(95, 189, 90);
    border: 2px solid rgb(95, 189, 90);
    border-radius: 22px;
    padding: 1rem 2rem;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.5s ease-in-out;
}

.label:hover {
    text-shadow:
        0 0 7px whitesmoke,
        0 0 10px whitesmoke,
        0 0 21px whitesmoke,
        0 0 32px whitesmoke,
        0 0 43px whitesmoke;
}

.file {
    display: none;
}